---
dist: xenial
language: python
python: 3.7
# pre-commit hooks can use Docker, so we should go ahead and enable it
services: docker

env:
  global:
    - secure: "nLfWnGIkoKi6m7VaZNDnt8tSOcO6q+4r5H5TsKn4E3B4rfHDQCaNtIr\
      +QJawg5WxvC6AQh6hojNt1HLNhyo6DAVAvsSG8L8jXmW2KjI1Icpe4HehwMbEvrC\
      0Kwdk/I73QF0QuNQccSGPqEcxjbEqAzfuQPHg9cErBJ3OsM916GrwClQ5PBR1ThF\
      fMYDu76Rf85kY8XbXkUb0/oLBa1H50ckFB4YS3rDHuxaMhgTca9oqKriezMm040Y\
      y0jpoBltAyZEorDkG6zaQXKn8n7Zj+TkBTuJ12iVzrxK5IyLEIucSlW2Ve2Rf++y\
      X3j3jqZHpKYBOsdwsanuK2B/ibXkeqGmKdAzIE5ZLGdEVVrDSPC4d3EKX3ymPwGF\
      KoVtALvPoLj8RURhYDWI218OYHolrV0H4/uQrPAryxiHTowQkAHJ7ZHPVnVryXma\
      vd8CVPxQPObPAO6EHjQMk2ImUh0IxVsLp8/ywjg2X9Ru+8rq8Li9C4QlPheyhQ4V\
      uXnzLEAckoa4pcJekYmGRqQ4gVHPt0yytjh5BedmgUrdar3Z7QObkA9GgyE9P7fW\
      OfPNHGm+v/vGaTxaQaHg8mOrJYXi+aUUcFmPOSshxtGH8S6ffxl/I1ZOCss3V4Oa\
      mtlKdXCOzgSLZh+qqH5V0PmMn0/n71T4ko9kNaXk2gFWXCkwaEPc="
    - secure: "t244uGTXbrvecNpuiNLpRVoTv/w5CHzPB7w7Y+EGRC7AljC821a0wz\
      QUMgWlcxM5FXRyLdVG7psy5mfAkAs1InI/ZcTiqoPcsVEeqGPF4aRBMFxGEFioSN\
      DDn8HBS0I6sOkP3852tvoq7Ktp3NfOdpakN/Twqlmzj/Ug+/5Bu8cUdCV9f+6Suh\
      hOKZyDJuShRn3KriDFnQA6TBir4AyUUU1lSYnl9RNZv3JqKsR8Zn34xluudP7aVy\
      gDkB46VAzCGk9/uAHasvA5xk8Kc/4RLiNmamkG9/1XY/OvAmIYBLe6kDMQZ5+8IW\
      ryobiHH6Pm/Hrjituc8h1NOP865P2ea96h2avx99yaDhddqnHwj7ZBv6GXLsynvU\
      xsgP0gs1ZP+4wtvVLlDZLBZ+HAZ+w2+XBTLxUEeYzTNLIqwr/VpB7cq5aw3yDe1N\
      DKI9swcfWUWiotlxEQJXl+g6hnYaHj/sJfZEU0iW6gwpelupJ4kPAc9eTZgf5GEK\
      K6NoPwRzAH6ryOvqL0VwkHPkD3NBbRrJzZrGDLvJ40nDsUKGmj+OVVhB9fU8xc9A\
      1CJ6Q6ERToccr5XNISzdlOjlJin7p/qsrijOwtz3UC+MgUUVLk8RO7fb8osu4App\
      44Mmy8RA6I5LwlfL7f8HumUTvt2Uy500XbFD9u3RlSYqbRBNAOGkI="
    - secure: "p8z1p2o8tdhKG6ToWM84WYUt5iME3bbfQUF59GF9Dx7LkM+x5oCguPk\
      MDJeqJLICBRDzib7msRVyy6mX33r1MKo1ZQATMs5KAZVr7OM0kjhmtKppS0n+AJA\
      VYWHT3GDTTJHVknG9csWZTs8BddlxBN91XvX13r7cGwnfZ8zeB5mbipIFLEc7jp1\
      nP1C8ujEfkdJPb6iONwaJPaFlvjnXn2ibk+xHk00lk5fcgwQd4Hm+Ob4W6QMFDQr\
      L1xNZW/K7IwtoYZ/QoiBfo+QDhvJp9ku02l2Ocuxersqw6yM6AnN1nmL6kAXVRQF\
      kQRlGbLT+TboDxO4cBffF/Mj1wNlrPKTQGEgjAdEceQEtTep52hzwcNseDcoCPjH\
      +cXeSKgIgoZqgkWX8JhUQ9HgnWSKPdBigO+0sPw6+ycioxrWNQHN+jqOCOivVKnr\
      5qbW32l/AHj2QfT4DmQ8v5XVsculcuvpTqla0OH1vCtnzziFiw5UhVCJvM0VUt3t\
      bnzRMSYgFhvdAMb8rj/rt0UBirDbPp7+wtdyXCpvmzRN9mKgB/DzUj62W3AMFmcs\
      26MCyQqD81ZViRmw38TLnTzcnCGreYGhu34K6FRY0jEK1jkygV0qCtRjW2w6a8Y7\
      jHv6jJTRaffPztOiYpJts65uJvvGCBZ8uJF1+KyBZUsAokFs2tgg="

# Install terraform and terraform-doc
before_install:
  - >
    wget
    https://releases.hashicorp.com/terraform/0.12.1/terraform_0.12.1_linux_amd64.zip
    -O terraform.zip
  - sudo unzip terraform.zip -d /opt/terraform
  - sudo ln -s /opt/terraform/terraform /usr/bin/terraform
  - rm -f terraform.zip
  - go get github.com/segmentio/terraform-docs

# Cache pip packages and pre-commit plugins to speed up builds
cache:
  pip: true
  directories:
    - $HOME/.cache/pre-commit

install:
  - pip install --upgrade -r requirements-test.txt

script:
  - pre-commit run --all-files
  - molecule test
