---
# tasks file for cyhy_core

- name: Install system versions of the Python packages that cyhy-core needs
  ansible.builtin.package:
    name:
      # PyCrypto
      - python-crypto
      - python-dateutil
      - python-docopt
      - python-geoip2
      - python-maxminddb
      - python-netaddr
      - python-pandas
      - python-progressbar
      # The version available for Debian Stretch is 3.4.0, and the cyhy-core
      # package currently has a requirement of < 3. When the cyhy-core package
      # supports a more recent version of PyMongo, this should be enabled.
      # - python-pymongo
      - python-six
      # PyYAML
      - python-yaml

- name: Install the cyhy-core package
  ansible.builtin.pip:
    name: https://api.github.com/repos/cisagov/cyhy-core/tarball/develop
